.venv/
venv/
__pycache__/
*.pyc
.env
.vscode/
.ipynb_checkpoints/
.DS_Store
*.Zone.Identifier

# Kaggle credentials
kaggle.json

# Downloaded dataset
data/blood_cells/

# Model checkpoints and large model files
results/checkpoints/*
!results/checkpoints/.gitkeep
*.pth
*.pt
*.ckpt
*.h5

# Optional logs
logs/
*.log
